
version: "3.4"

services:
  # app:
  #   build: .
  #   container_name: crud_user
  #   ports:
  #     - 3333:3333
  #   volumes:
  #     - .:/home/app
  postgres:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=senha
      - POSTGRES_DB=users-test
    restart: on-failure